/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Start NavBar  */
.logo {
    width: 40px;
    height: 40px;
}
.navbar .nav-link{
font-size: 14px;
font-weight: 700;
color: white;
}
.navbar{
    box-shadow: box-shadow ;
    background: #000;
    color: #fff;
}
/* End NavBar  */
/* Start Image-generator  */
.Image-generator {
  height: 40vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
}
.Image-generator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  opacity: 0.5;
}
.Image-generator .content {
  color: #fff;
  padding: 0 15px;
  max-width: 760px;
  text-align: center;
  position: relative;
}
.Image-generator h1 {
  font-size: 2rem;
  font-weight: 700;
}
.Image-generator p {
  font-size: 1.354rem;
  margin-top: 10px;
}
.Image-generator .generator-form {
  height: 56px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 6px;
  margin: 45px 0 15px;
}
.generator-form .prompt-input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  background: none;
  padding: 0 17px;
}
.generator-form .controls {
  display: flex;
  height: 100%;
  gap: 15px;
}
.generator-form .img-quantity {
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
}
.generator-form .generate-btn {
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 0 25px;
  cursor: pointer;
  border-radius: 30px;
  background: #4949e7;
  font-size: 1rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* End Image-generator  */
/* Start Image-Gallery */
.Image-gallery {
  display: flex;
  gap: 15px;
  padding: 0 15px;
  max-width: 1250px;
  margin: 50px auto;
  justify-content: center;
}
.Image-gallery .img-card {
  width: 285px;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  background: #f2f2f2;
}
.Image-gallery .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Image-gallery .img-card.loading img {
  width: 80px;
  height: 80px;
}
.Image-gallery .img-card .download-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Image-gallery .img-card:not(.loading):hover .download-btn {
  display: flex;
}
.Image-gallery .img-card .download-btn img {
  width: 14px;
  height: 14px;
}
/* End Image-Gallery */
/* Start Footer  */
form input.form-control {
  height: 56px;
}
form .form-control {
  border: transparent;
  border-radius: 30;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  -ms-border-radius: 30;
  -o-border-radius: 30;
}
footer img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 160px;
  height: 160px; 
}
.footer-top {
  margin-top: 20%;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: repeating-conic-gradient(
    from 100deg at 89% 14%,
    rgba(42, 25, 228, 1) 0deg,
    rgba(158, 35, 255, 1) 4deg,
    rgba(0, 44, 66, 1) 22deg,
    rgba(42, 25, 228, 1) 47deg
  );
}
.footer-top a {
  color: #fff;
  text-decoration: none;
}
.footer-top a:hover {
  color: green;
}
.footer-bottom {
  /* background-color: rgb(3, 3, 20); */
  background-color: #001227;
}
footer p {
  color: white;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}
.list-unstyled {
  color: white;
}
/* End Footer  */
/* Responsive  */
@media screen and (max-width: 760px) {
  .Image-generator h1 {
    font-size: 1.8rem;
  }
  .Image-generator p {
    font-size: 1rem;
  }
  .Image-generator.generator-form {
    margin-top: 30px;
    height: 52px;
    display: block;
  }
  .generator-form .controls {
    height: 40px;
    margin-top: 15px;
    justify-content: flex-end;
  }
  .generator-form .img-quantity {
    color: #fff;
  }
  .generator-form .img-quantity option {
    color: #000;
  }
  .generator-form .generate-btn {
    height: 100%;
  }
  .img-quantity {
    margin-top: 20px;
  }
  .Image-gallery .img-card:not(.loading) .download-btn {
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .Image-gallery .img-card {
    width: 100%;
  }
}
